
/* -------  Header  ------- */
.container {
  font-size:2em;
  margin-bottom:0.5em;
}
.container::after {
  content:'';
  display:block;
  height:2px;
  background-image:linear-gradient(90deg,$black,transparent);
}
.title {
  padding-left:2%;
  font-variant:small-caps;
}
