
/* -------  Overview  ------- */
.container {
  width:100%;
  height:100%;
  padding:2em;
  display:flex;
  flex-direction:column;
  background:$white;
  border:1px solid $grey4;
}
.main {
  flex:1;
  flex-direction:column;
  composes:flexy from 'styles/_utils.scss';
}
.row {
  flex:1;
  composes:flexy from 'styles/_utils.scss';
}
