
/* -------  Header  ------- */
.container {
  padding:0 1em;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.title {

}
.icon {
  cursor:pointer;
  font-size:2.8em;
  line-height:1;
}
