
/* -------  Header  ------- */
.container {
  margin-bottom:1em;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.title {
  border-bottom:1px solid $black;
}
.icon {
  cursor:pointer;
  font-size:2.8em;
  line-height:1;
}
