
/* -------  Dashboard  ------- */
.container {
  height:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.half {
  width:100%;
  padding:2em;
  composes:flexy from 'styles/_utils.scss'
}
.topHalf {
  flex:1;
  composes:half;
}
.bottomHalf {
  composes:half;
}
.half > :first-child {
  border:2px solid $real_white !important;
  background:$white;
  box-shadow: 0 7.5px 17.5px rgba(50,50,93,.1), 0 2.5px 7.5px rgba(0,0,0,.07);
}
