
/* -------  Dashboard  ------- */
.container {
  height:100%;
  display:flex;
  flex-direction:column;
}
.half {
  padding:3em;
  composes:flexy from 'styles/_utils.scss'
}
.topHalf {
  flex:1;
  composes:half;
}
.bottomHalf {
  padding-top:0;
  composes:half;
}
.half > :first-child {
  height:100%;
  width:100%;
  border:3px solid $real_white;
  background:$white;
  box-shadow:$shadow_small;
}
