
/* -------  Dashboard  ------- */
.container {
  height:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.half {
  flex:1;
  width:100%;
  composes:flexy from 'styles/_utils.scss'
}
.topHalf {
  composes:half;
}
.bottomHalf {
  composes:half;
}


.tableContainer {
  letter-spacing:0;
  display:flex;
  align-items:flex-start;
  flex-direction:column;
}

.table {
  font-size:0.8em;
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
}
.table tr {
  height:3em;
}
.table tr th:first-child {
  text-align:left;
  width:40%;
  padding-left:2%;
}
.tableHead {
  border-bottom:1px solid $grey2;
}
.tableBody tr:nth-of-type(even) {
  background:$real_white;
}
