
/* -------  Row  ------- */
.row {
  font-weight:normal;

  transition:color 0.44s, background-color 0.44s;
}
.row:hover {
  cursor:pointer;
  color:$darkblue;
  background:$real_white !important;
}

.rowActivated {
  font-weight:600;
  color:$darkblue;
  composes:row;
}
