
/* -------  Table  ------- */
.table {
  font-size:0.8em;
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
  text-align:center;
}
.table tr {
  height:3em;
  display:block;
}
th, td {
  width:20%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  height:100%;
}
.tableHead, .tableBody {
  display:block;
}
.tableHead {
  background:$real_white;
  border-bottom:1px solid $grey2;
}
.category {
  font-size:1.2em;
  font-weight:600;
  cursor:pointer;
  position:relative;
}
.icon {
  position:absolute;
  opacity:0;
  transition:0.66s;
}
.iconActivated {
  opacity:1;
  composes:icon;
}
.icon svg {
  padding:0.1em;
  margin:-2px 0 0 2px;
}

.tableBody {
  height:420px;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}
.tableBody tr:nth-of-type(odd) {
  background:$real_white;
}
